/*CSS document*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
    background-color: #e7e1da;
    margin: 1em;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figcaption {
    font-family: poppins, sans-serifs;
    font-weight: 400;
    font-style: italic;
    color:#B79771;
    margin: 1em 0em 1em 0em;
}

figure {
    margin-top: 1.25em;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0em;
    margin-bottom: .5em;
}

p {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2em;
}

article p {
    margin-bottom: .75em;
}

hr {
    color:#B79771;
    }

hr.divider {
    margin-top: 2em;
    color:#B79771;
    }

nav ul li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-right: .5em;
    }

nav ul li a {
    color: #4e3927;
    text-decoration: none;
    }

nav ul li a:hover {
    color: #B79771;
    text-decoration: none;
    }

h2 {
    color: #4e3927;
    font-family: vollkorn, serif;
    font-weight: 700;
    font-style: normal;
    margin: .5em 0em .5em 0em;
    }
       
a {
    text-decoration: none;
    color: #4e3927;
    padding-bottom: .25em;
    margin-top: 0em;
}

a:hover {
    color: #B79771;
}

h3 {
    color:#4e3927;
    font-family: vollkorn, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    margin: .5em 0em .25em 0em;
    }

footer {
    margin-top: 4em;
    color: #B79771;
}

h1 {
    max-width: 4em; 
    margin-bottom: .5em;
    
}