/*CSS document*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
    background-color: #e7e1da;
    margin: 1em;
}

div.container {
    max-width: 45em;
    margin: auto;
}

div.article-container {
    max-width: 45em;
    margin: auto;
}

div.newsletter-container {
    max-width: 45em;
    margin: auto;
}

section {
    max-width: 60em;
    margin:0 auto 3em;
}

figcaption {
    font-family: poppins, sans-serifs;
    font-weight: 400;
    font-style: italic;
    color:#B79771;
    margin: 1em 0em 1em 0em;
}

figure {
    margin-top: 1.25em;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0em;
    margin-bottom: .5em;
}

p {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2em;
    line-height: 1.35em;
}

article p {
    margin-bottom: .75em;
}

hr {
    color:#B79771;
    }

hr.divider {
    margin-top: 2em;
    color:#B79771;
    }

nav ul li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-right: .5em;
    }

nav ul li a {
    color: #4e3927;
    text-decoration: none;
    }

nav ul li a:hover {
    color: #B79771;
    text-decoration: none;
    }

h2 {
    color: #4e3927;
    font-family: vollkorn, serif;
    font-weight: 700;
    font-style: normal;
    margin: .5em 0em .5em 0em;
    }
       
a {
    text-decoration: none;
    color: #4e3927;
    padding-bottom: .25em;
    margin-top: 0em;
}

a:hover {
    color:#B79771;
}

h3 {
    color:#4e3927;
    font-family: vollkorn, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    margin: .5em 0em .25em 0em;
    }

footer {
    margin-top: 4em;
    color: #B79771;
}

h1 {
    max-width: 4em; 
    margin-bottom: .5em;
    
}


/* newsletter */


section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
	flex: 1 0 20em;
	box-sizing: border-box;
}

section.personal-info ul li label {
	flex: 0 0 10em;
    color:#ffffff;
}

section.newsletter-content ul li label {
    color:#ffffff;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
}


section.personal-info ul li ::placeholder {
    color:#B79771;
}

section.order ul, section.method ul {
	display: flex;
	flex-wrap: wrap;
	}

section.order ul li , section.method ul li {
	flex: 1 0 15em;
	}
	
.personal-info {
    margin: 2em 0em 2em 0em;
    background-color:#4e3927;
    padding: .5em 1.75em 1.75em 1.75em;
    }

.newsletter-content {
    margin: 0em 0em 2em 0em;
    background-color:#4e3927;
    padding: .5em 1.75em 1.75em 1.75em;
    }

.newsletter-content h2, .personal-info h2 {
    color:#ffffff;
}

button {
    background-color: #4e3927;
    border: none;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    display: inline-block;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;

}

button:hover {
    background-color: #B79771; 
    color: #ffffff;
}
 
/* gallery */

div.gallery-container {
    max-width: 45em;
    margin: auto;
}

.gallery img {
    width: 100%;
}

main.gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(73% + 5em);
    background-color: #B79771;
}

main.gallery figcaption {
    color: #ffffff;
    margin: 1em;
}

.gallery figure {
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: .5s;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
    margin-top: .5em;
}


div.gallery-container input {
    display: none;
}

div.gallery-container h2 {
    margin: 2.2em 0em 1em 0em;

}

@media screen and (min-width: 60em){

    div.container {
        max-width: 80em;
        margin: auto;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2.5em;
    }

    div.article-container {
        max-width: 60em;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3em;
    }

    div.newsletter-container{
        max-width: 60em;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3em;
    }

    div.gallery-container{
        max-width:60em;
        margin: auto;
    }

    .personal-info {
        margin-top: 0em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.secondary-stories-container {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.75em;
    }

    .mainstory a {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin: 0em 0em 1em 0em;
        background-color:#4e3927;
        padding: 1.75em;
        grid-gap: 1em;
    }

    .mainstory a figure {
        grid-column: 1/2;
        margin-bottom: 0em;
    }

    .mainstory a p, .mainstory a h3 {
        color: #e7e1da;
    }

    .mainstory a:hover p {
        color: #B79771;
    }

    .teaser a figure, h3 {
        margin-top: 0em;
    }

    .secondary {
        margin: 0em;
    }

    aside {
        grid-column: 2/3;
    }

    figure {
        margin-top: 0em;
        margin-bottom: .75em;
    }

    figure.article {
        margin-top: 1.25em;
    }

    .newsletter-teaser {
        grid-column: 2/3;
    }

    section.newsletter-content ul {
        display: flex;
        flex-wrap: wrap; 
    }

    section.newsletter-content ul li {
        flex: 1 0 15em;
    }

    main.gallery {
        padding-bottom: calc(70% + 5em);
    }

    nav.gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: .5em;
        margin-top: .5em;
    }
}
